@import "mixins.less";

// Media questions
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@large: ~'only screen and (min-width: 1400px)';

// Top separator
.top-separator {
  height: 60px;
}

// Section title
.section-title {
  margin-bottom: 60px;
}

// Section line
.section-line {
  font-size: 20px;
  line-height: 20px;
  color: @bright-text-color;
  .clear;
  .center-text;
  .v-align;
  &:before{
    float: left;
    .section-line-mix;
  }
  &:after{
    float: right;
    .section-line-mix;
  }
}

.section-line-span {
  margin: 0 3px;
  i {
    .icon(@brand-warning;18px;1);
  }
}