// Main content
#main-content {
  z-index: 1;
  .relative;
  background: @body-bg;
}

// Intro
.about {
  .center-text;
  .padding-top-bottom(50px;0px);
}

.about-text {
  margin-bottom: 50px;
}

// Intro paragraph
.about-text {
  p {
    .paragraph(16px);
    .center-text;
    color: @text-color;
  }
}