// Main content
#main-content {
  z-index: 1;
  .relative;
  background: @body-bg;
}

// About
.about {
  .padding-top-bottom(50px;0px);
  .col-xs-12, .col-md-4 {
    margin-bottom: 7px;
  }
  .main-box, h4, span {
    .upper;
  }
  font-family: @font-family-sans-serif;
  padding-bottom: 5px;

  // Main box
  h3.name {
    font-size: 60px;
    border-bottom: 1px dotted #d7d8d6;
    margin-bottom: 10px;
  }
  p.title {
    color: #999999;
    font-size: 24px;
    font-weight: normal;
    text-shadow: none;
    letter-spacing: normal;
  }

  // Personal details
  .personal-details-image {
    background: url('../images/about_images/personal-details-image.png');
  }
  h4 {
    font-size: 36px;
    margin: 0 0 15px 45px;
    border-bottom: 1px dotted #d7d8d6;
  }
  .personal-list {
    list-style: none;
    margin-left: 20px;
    li {
      margin-bottom: 10px;
      display: inline-block;
      line-height: 18px;
      word-wrap: break-word;
      span {
        color: #000;
        font-weight: bold;
        width: 100px;
        float: left;
        padding-right: 10px;
      }
      p {
        float: right;
        width: 150px;
      }
    }
  }
}

// About icon
.icon {
  display: block;
  width: 25px;
  height: 26px;
  position: absolute;
  top: 25px;
  left: 23px;
}

// About box
.box {
  position: relative;
  width: 360px;
  background: url(../images/about_images/corner-dot.png) no-repeat 97% 2% #FFF;
  padding: 20px;
  float: left;
  margin: 0 7px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 0 0 #d7d8d6;
  -moz-box-shadow: 2px 2px 0 0 #d7d8d6;
  box-shadow: 2px 2px 0 0 #d7d8d6;
}

// Portfolio
.portfolio {
  .center-text;
  .padding-top-bottom(50px;0);
}

.portfolio-inner {
  .shadow(0 1px 0 rgba(0, 255, 0, 0.1));
  padding: 25px;
  border-radius: 3px;
  margin-bottom: 50px;
  h3 {
    letter-spacing: 0.5;
    margin-bottom: 25px;
    font-weight: 600;
    a {
      color: @text-color;
      text-decoration: none;
      .basic-transition;
      &:hover {
        color: @brand-primary;
      }
    }
  }
}

.portfolio-head {
  margin: -25px -25px 25px;
  a {
    .relative;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    .basic-transition;
    -webkit-backface-visibility: hidden;
    &:hover img {
      opacity: 1;
      transform: scale(1.02);
    }
    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 10px;
      opacity: 0.8;
      transform: scale(1);
      transition: opacity 0.3s, transform 0.3s;
    }
  }
}

.portfolio-content {
  font-size: 14px;
}

.hor-line {
  margin: 0 -25px 25px;
  height: 1px;
  .block;
  background: lighten(@border-color, 6%);
}

.comments-link {
  color: @paragraph-color;
  text-decoration: none;
  line-height: 30px;
  .basic-transition;
  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}

.read-more {
  line-height: 30px;
  font-size: 24px;
  color: @border-color;
  .basic-transition;
  &:hover {
    color: @brand-primary;
  }
}

// Contact social media
.contact-icons {
  .center-text;
  .padding-top-bottom(50px;0);
}

.contact-text {
  margin-bottom: 50px;
  p {
    .paragraph(16px);
    .center-text;
  }
}

.contact-logos {
  background: @light-bg;
  .padding-top-bottom(30px;30px);
}

.logos-list {
  .list-style-none;
  margin: 0 auto;
  width: 60%;
  .flex-display;
  .flex-justify;
  li {
    .inline-block;
    line-height: 1.2;
    a {
      color: @dark-bg;
      .block;
      opacity: 0.2;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 50px;
      .basic-transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}

// Contact form
.form-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.contact-form {
  margin: 50px 20px 20px 20px;
  @media @medium {
    margin: 50px 30px 20px 50px;
  }
  @media @large {
    margin: 50px 30px 20px 20px;
  }
  textarea {
    height: 220px;
    padding: 15px;
    text-indent: 0;
  }
}

.form-field {
  margin-bottom: 20px;
}

// Form styles
form {
  input, textarea {
    box-shadow: none !important;
    outline: 0;
    .basic-border(1px;solid);
    text-indent: 15px;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    font-size: @font-size-base;
    &:hover {
      border-color: @input-border-hover;
    }
    &:focus {
      border-color: @brand-primary;
    }
  }
  input {
    maxlength: 50;
  }
}

::-webkit-input-placeholder {
  color: @border-color;
}

::-moz-placeholder {
  color: @border-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: @border-color;
}

// Map
.map-wrapper {
  margin: 50px 35px 30px 35px;
}