// Main content
#main-content {
  z-index: 1;
  .relative;
  background: @body-bg;
}

// Intro
.about {
  .center-text;
  .padding-top-bottom(50px;0px);
}

.about-text {
  margin-bottom: 50px;
}

// Intro paragraph
.about-text {
  p {
    .paragraph(16px);
    .center-text;
    color: @text-color;
  }
}

// Portfolio
.portfolio {
  .center-text;
  .padding-top-bottom(50px;0);
}

.portfolio-inner {
  .shadow(0 1px 0 rgba(0, 255, 0, 0.1));
  padding: 25px;
  border-radius: 3px;
  margin-bottom: 50px;
  h3 {
    letter-spacing: 0.5;
    margin-bottom: 25px;
    font-weight: 600;
    a {
      color: @text-color;
      text-decoration: none;
      .basic-transition;
      &:hover {
        color: @brand-primary;
      }
    }
  }
}

.portfolio-head {
  margin: -25px -25px 25px;
  a {
    .relative;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    .basic-transition;
    -webkit-backface-visibility: hidden;
    &:hover img {
      opacity: 1;
      transform: scale(1.02);
    }
    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 10px;
      opacity: 0.8;
      transform: scale(1);
      transition: opacity 0.3s, transform 0.3s;
    }
  }
}

.portfolio-content {
  font-size: 14px;
}

.hor-line {
  margin: 0 -25px 25px;
  height: 1px;
  .block;
  background: lighten(@border-color, 6%);
}

.comments-link {
  color: @paragraph-color;
  text-decoration: none;
  line-height: 30px;
  .basic-transition;
  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}

.read-more {
  line-height: 30px;
  font-size: 24px;
  color: @border-color;
  .basic-transition;
  &:hover {
    color: @brand-primary;
  }
}

// CV
.cv {
  .center-text;
  .padding-top-bottom(50px;50px);
  .intro-text {
    margin-bottom: 50px;
  }
}

.cv-text {
  p {
    .paragraph(16px);
    .center-text;
    color: @text-color;
  }
}

// Contact social media
.contact-icons {
  .center-text;
  .padding-top-bottom(50px;0);
}

.contact-text {
  margin-bottom: 50px;
  p {
    .paragraph(16px);
    .center-text;
  }
}

.contact-logos {
  background: @light-bg;
  .padding-top-bottom(30px;30px);
}

.logos-list {
  .list-style-none;
  margin: 0 auto;
  width: 60%;
  .flex-display;
  .flex-justify;
  li {
    .inline-block;
    line-height: 1.2;
    a {
      color: @dark-bg;
      .block;
      opacity: 0.2;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 50px;
      .basic-transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}

// Contact form
.form-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.contact-form {
  margin: 50px 20px 20px 20px;
  @media @medium {
    margin: 50px 30px 20px 50px;
  }
  @media @large {
    margin: 50px 30px 20px 20px;
  }
  textarea {
    height: 220px;
    padding: 15px;
    text-indent: 0;
  }
}

.form-field {
  margin-bottom: 20px;
}

// Form styles
form {
  input, textarea {
    box-shadow: none !important;
    outline: 0;
    .basic-border(1px;solid);
    text-indent: 15px;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    font-size: @font-size-base;
    &:hover {
      border-color: @input-border-hover;
    }
    &:focus {
      border-color: @brand-primary;
    }
  }
  input {
    maxlength: 50;
  }
}

::-webkit-input-placeholder {
  color: @border-color;
}

::-moz-placeholder {
  color: @border-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: @border-color;
}

// Map
.map-wrapper {
  margin: 50px 35px 30px 35px;
}