@import "variables.less";
@import "global.less";

// Capital Letters
.upper {
  text-transform: uppercase;
}

// Alignment and Positioning
.center-text {
  text-align: center;
}

.v-align {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.v-align-transform {
  .relative;
  top: 50%;
  transform: translateY(-50%);
}

// Padding
.padding-top-bottom(@p-top;@p-bottom) {
  padding: @p-top 0 @p-bottom;
}

// Borders
.basic-border(@width;@style;@color:@border-color) {
  border-width: @width;
  border-style: @style;
  border-color: @color;
}

// Lists
.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

// Icons
.icon(@color;@font-size;@line-height:@line-height-base) {
  color: @color;
  font-size: @font-size;
  line-height: @line-height;
}

// Transitions
.basic-transition {
  transition: all 0.2s ease-in-out;
}