// Text variables
@font-family-sans-serif: 'Open Sans', Arial, sans-serif;
@font-family-secondary: 'Source Sans Pro', sans-serif;
@line-height-base: 1.6;

// Background, text, border colors
@alternate-bg: #fff;
@dark-bg: #222532;
@copyright-bg: #15151e;

@bright-text-color: #fff;
@menu-text-color: #929292;
@menu-text-hover-color: #383838;
@footer-text-color: #999;

@border-color: #ddd;

// Header sizes
@header-height-sm: 60px;